/* CSS stylesheet for the portfolio website */

/* seset default margin and padding */
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

/* video background section */
.video-background {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
}

/* fullscreen background video */
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* background overlay */ 
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* adjusts transparency */
    z-index: 0;
  }

/* content styling */
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 10vh;
    font-family: Arial, sans-serif;
    font-size: 200%;
    text-shadow: 0px 0px 10px lightgoldenrodyellow;
}

.content h1 {
    font-size: 300%;
}

.vertical-links {
    list-style: none;
    padding: 0;
}

.vertical-links li {
    margin: 16px 0;    /* adds spacing between items */
}

.vertical-links a {
    text-decoration: none;
    color: white;
}

.vertical-links a:hover{
    font-size: 125%;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar-ul {
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    list-style: none;
    background-color: rgba(0, 0, 0, .95);
}

.navbar-ul li {
    float: left;
}

.navbar-ul li a {
    display: block;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-ul li a:hover{
    background-color: rgba(255, 255, 255, .1);
}